<h1>フォロー済み一覧</h1>
<div class="if-user">
<% @frends.each do |frend| %>
  <div class= "user-emotion clearfix">
  <%= link_to user_top_path(frend) do %>
    <section class="img-area">
    <% if frend.profile_image.present? %>
      <p><%= attachment_image_tag frend, :profile_image, format: 'jpeg', size: "100x100", class: "img" %></p>
    <% else %>
      <p><%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %></p>
    <% end %>
    </section>
  <% end %>
    <div class="right-content">  
    <section>
      <p>ユーザー名　<span class="strong"><%= frend.name %></span></p>
      <p>フレンド登録数　<%=frend.followers.count %>人</p><br>
      <p>紹介文</p><br>
        <span><%= frend.introduction %><br></span>
      <p>お気に入りの球団</p><br>
        <span><%= frend.favorite_team %></span>
    </section> 
    </div>
  </div>
<% end %>
</div>
