

<h5>検索該当投稿結果</h5>

<div class="index-book">
<% @datas.each do |date| %>
    <% if date&.score > 0.3 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color1">
    <% elsif date&.score > -0.6 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color2">
    <% else %> 
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color3">
    <% end %>
    <div class="mdl-card__supporting-text">
      <section>
        <%= link_to user_top_path(date.user) do %>
          <% if date.user.profile_image.present? %>
            <p><%= attachment_image_tag date.user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %></p>
          <% else %>
            <p><%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %></p>
          <% end %>
          ユーザー名　<%= date.user.name %>　
        <% end %>
          <%= time_ago_in_words(date.created_at) %>前
            　コメント数　<%= date.comments.count %> 件
            　投稿画像　<%= date.images.count %> 件<br>
          <p id="favorite_<%= date.id %>">
          <%= render "forms/favorite", emotion: date %>
          </p> 
        </section>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <%= link_to emotion_path(date) do %>
          <%= date.body %>
        <% end %>
    </div>
  </div>
<% end %>
</div>
<%= paginate @datas %>