    <div class="book-area clearfix">
    <%= form_with model: @emotion, local: true do |f| %>
    <% if @emotion.errors.any? %>
    <div class="notice">
            <p><%= @emotion.errors.count %>件エラーがあります。</p>
            <% @emotion.errors.full_messages.each do |message| %>
            <ul>
                <li><%= message %></li>
            </ul>
            <% end %>
    </div>
    <% end %>
    <p>投稿</p>
    <%= f.text_area :body %>
    <span id="text-length"></span>
    <p>画像</p>
    <%= f.attachment_field :images_images, multiple: true %>
    <%= f.attachment_field :images_images, multiple: true %>
    <%= f.attachment_field :images_images, multiple: true %>
    <p>タグ</p>
    <%= f.text_field :tag_list, value: @emotion.tag_list.join(',') %>
    <%= f.submit "投稿する", class: "btn" %>   
    <% end %>
</div>
