
<%= render "forms/user" %>
<% if @emotion.errors.any? %>
    <div class="notice">
            <p><%= @emotion.errors.count %>件エラーがあります。</p>
            <% @emotion.errors.full_messages.each do |message| %>
            <ul>
                <li><%= message %></li>
            </ul>
            <% end %>
    </div>
    <% end %>
<div class="book">
<h1>投稿詳細</h1>
<% if @emotion&.score > 0.3 %>
 <div class= "user-emotion score-color1 clearfix">
<% elsif @emotion&.score > -0.6 %>
 <div class= "user-emotion score-color2 clearfix">
<% else %> 
 <div class= "user-emotion score-color3 clearfix">
<% end %>
  　<div class="emotion-content">  
      <section>
        <p>ユーザー名　<span class="strong"><%= @emotion.user.name %></span></p>
        <p><%= time_ago_in_words(@emotion.created_at) %>前</p><br>
      <div>  
        <p>
          <%= link_to emotion_path(@emotion) do %>
            <%= @emotion.body %>
          <% end %>
        </p>
      </div> 
 <%#いいね機能（非同期通信）  %>
      <p id="favorite_<%= @emotion.id %>">
      <%= render "forms/favorite", emotion: @emotion %>
      </p>  
        <p>コメント数　<%= @emotion.comments.count %> 件</p>
        <p><%= @emotion&.score %></p>
<%# タグ機能 該当タグ一覧にも飛べる%>
        <p>タグ　<%= render "forms/tag" %></p>
      </section>
    </div>
  </div>
  <%# 投稿画像表記 %>
<% if @emotion_images.nil? %>
  <div class="emotion-img">
  <% @emotion.images.each do |image| %>
    <div class="img-show">
    <%= attachment_image_tag image, :image, format: 'jpeg', size: "450x300" %>
    </div>
  <% end %>
  </div>
<% end %>
  <div class="comment">
  <% @emotion_comments.each do |comment| %>
  　<div class="clearfix">
    <%= link_to user_top_path(comment.user) do %>
      <section class="img-area">
      <% if comment.user.profile_image.present? %>
        <%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %>
      <% else %>
        <%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %>
      <% end %>
      <p><%= comment.user.name %></p>
      </section>
    <% end %>
    <% if comment&.score > 0.3 %>
      <p class="comment-body score-color1">
    <% elsif comment&.score > -0.6 %>
      <p class="comment-body score-color1">
    <% else %> 
      <p class="comment-body score-color1">
    <% end %>
          <span><%= time_ago_in_words(comment.created_at) %>前</span><br><%= comment.body %>
      </p>
    </div>
  <% end %>
  </div> 
</div>
<div class="comment-area clearfix">
  <h5>コメントはこちらから</h5>
   <span id="comment-length"></span>
  <%= form_for [@emotion, @comment] do |f| %>
   <%= f.text_area :body %>
   <%= f.submit "投稿する", class: "btn" %>
  <% end %>
</div>
