<% if @emotion.errors.any? %>
    <div class="notice">
            <p><%= @emotion.errors.count %>件エラーがあります。</p>
            <% @emotion.errors.full_messages.each do |message| %>
            <ul>
                <li><%= message %></li>
            </ul>
            <% end %>
    </div>
    <% end %>
<div class="show">
<h5>野球投稿詳細</h5>
    <% if @emotion&.score > 0.3 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color1">
    <% elsif @emotion&.score > -0.6 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color2">
    <% else %> 
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color3">
    <% end %>
      <div class="mdl-card__supporting-text">
        <section>
            <h6>投稿者：<%= @emotion.user.name %></h6>
            <%= time_ago_in_words(@emotion.created_at) %>前
              　コメント数　<%= @emotion.comments.count %> 件
              　投稿画像　<%= @emotion.images.count %> 件<br>
            <p id="favorite_<%= @emotion.id %>">
            <%= render "forms/favorite", emotion: @emotion %>
            </p> 
          </section>
      </div>
      <div class="mdl-card__actions mdl-card--border">
          <%= link_to emotion_path(@emotion) do %>
            <%= @emotion.body %>
          <% end %>
      </div>
    </div>
  <%# 投稿画像表記 %>
<% if @emotion_images.nil? %>
  <div class="emotion-img">
  <% @emotion.images.each do |image| %>
    <div class="img-show">
    <%= attachment_image_tag image, :image, format: 'jpeg', size: "450x300" %>
    </div>
  <% end %>
  </div>
<% end %>
<div class="index-book">
<h5>コメント一覧</h5>
<% @emotion_comments.each do |comment| %>
    <% if comment&.score > 0.3 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color1">
    <% elsif comment&.score > -0.6 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color2">
    <% else %> 
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color3">
    <% end %>
    <div class="mdl-card__supporting-text">
      <section>
        <%= link_to user_top_path(comment.user) do %>
          <% if comment.user.profile_image.present? %>
            <p><%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %></p>
          <% else %>
            <p><%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %></p>
          <% end %>
          ユーザー名　<%= comment.user.name %>　
        <% end %>
          <%= time_ago_in_words(comment.created_at) %>前
        </section>
    </div>
    <div class="mdl-card__actions mdl-card--border">
          <%= comment.body %>
    </div>
  </div>
<% end %>
</div>
<div class="comment-area clearfix">
  <h5>コメントはこちらから</h5>
   <span id="comment-length"></span>
  <%= form_for [@emotion, @comment] do |f| %>
   <%= f.text_area :body %>
   <%= f.submit "投稿する", class: "btn btn-primary" %>
  <% end %>
</div>
