<%= render "forms/header" %>
<div class="info">
<h1>~my page~</h1>
<%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100" %>
<p>フレンド一覧　人</p>
<p>お気に入りの投稿　件</p>
<%= @user.name %>
<%= @user.introduction %>
</div>
<%= @emotion.favorites.where(user_id: current_user.id).exists? %>
<div class="book">
<h1>投稿詳細</h1>
  <p>
    <%= @emotion.created_at %>
    <%= @emotion.body %>
    <%# いいね機能 %>
  <% if @emotion.favorited_by?(current_user) %>
<li>
  <%= link_to emotion_favorites_path(@emotion), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= @emotion.favorites.count %> いいね
  <% end %>
</li>
<% else %>
<li>
  <%= link_to emotion_favorites_path(@emotion), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= @emotion.favorites.count %> いいね
  <% end %>
</li>
<% end %>
  </p>
  <div class="comment">
  <% @emotion_comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.body %><br>
  <% end %>
  </div>  
</div>
<div class="comment">
<p>コメント一覧</p>
  <%= form_for [@emotion, @comment] do |f| %>
   <%= f.text_area :body %>
   <%= f.submit "投稿する" %>
  <% end %>
</div>
