<h1>最近の投稿一覧</h1>
<% @emotions.each do |emotion| %>
  <div class= "user-emotion clearfix">
  <%= link_to user_top_path(emotion.user) do %>
    <section class="img-area">
    <% if emotion.user.profile_image.present? %>
      <p><%= attachment_image_tag emotion.user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %></p>
    <% else %>
      <p><%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %></p>
    <% end %>
    </section>
  <% end %>
    <div class="right-content">  
    <section>
      <p>ユーザー名　<span class="strong"><%= emotion.user.name %></span></p>
      <p><%= time_ago_in_words(emotion.created_at) %>前</p><br>
      <p id="favorite">
        <%= render "forms/favorite", emotion: emotion %>
      </p> 
      <p>コメント数　<%= emotion.comments.count %> 件</p>
    </section>
    <div>  
      <p>
    <%= link_to emotion_path(emotion.user) do %>
      <%= emotion.body %>
    <% end %>
      </p>
    </div>  
    </div>
  </div>
<% end %>