
<h3>最近の投稿一覧</h3>

<div class="index-book">
<% @emotions.each do |emotion| %>
    <% if emotion&.score > 0.3 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color1">
    <% elsif emotion&.score > -0.6 %>
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color2">
    <% else %> 
    <div class= "demo-card-wide mdl-card mdl-shadow--2dp score-color3">
    <% end %>
    <div class="mdl-card__supporting-text">
      <section>
        <%= link_to user_top_path(emotion.user) do %>
          <% if emotion.user.profile_image.present? %>
            <p><%= attachment_image_tag emotion.user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %></p>
          <% else %>
            <p><%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %></p>
          <% end %>
          ユーザー名　<%= emotion.user.name %>　
        <% end %>
          <%= time_ago_in_words(emotion.created_at) %>前
            　コメント数　<%= emotion.comments.count %> 件
            　投稿画像　<%= emotion.images.count %> 件<br>
          <p id="favorite_<%= emotion.id %>">
          <%= render "forms/favorite", emotion: emotion %>
          </p> 
        </section>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <%= link_to emotion_path(emotion) do %>
          <%= emotion.body %>
        <% end %>
    </div>
  </div>
<% end %>
</div>
