<h1>my page edit</h1>
<%= form_for(@user) do |f| %>
    <%= f.name %>
    <%= f.introduction %>
    <%= f.favorite_team %>
    <%= f.text %>
    タグ
    <%= f.submit "編集する" %>
<% end %>
<%= link_to "退会手続きをする" users_confirm_path %>
