<div id="title-area">
     <div class="image1">
        <h1 id="title">
            遭遇したことない感動を。<br>
            <a class="mdl-navigation__link"><%= link_to "今すぐ始める", new_user_registration_path, class: "btn btn-primary" %></a>
            <a class="mdl-navigation__link"><%= link_to "簡単ログイン（ゲストログイン）", homes_guest_sign_in_path, method: :post, class: "btn btn-primary" %></a>
        </h1>
     </div>
     <div class="image2">
        <h1 class="title">
            遭遇したことない感動を。<br>
            <a class="mdl-navigation__link"><%= link_to "今すぐ始める", new_user_registration_path, class: "btn btn-primary" %></a>
            <a class="mdl-navigation__link"><%= link_to "簡単ログイン（ゲストログイン）", homes_guest_sign_in_path, method: :post, class: "btn btn-primary" %></a>
        </h1>
     </div>
     <div class="image3">
        <h1 class="title">
            遭遇したことない感動を。<br>
            <a class="mdl-navigation__link"><%= link_to "今すぐ始める", new_user_registration_path, class: "btn btn-primary" %></a>
            <a class="mdl-navigation__link"><%= link_to "簡単ログイン（ゲストログイン）", homes_guest_sign_in_path, method: :post, class: "btn btn-primary" %></a>
        </h1>
     </div>
     <div class="image4">
        <h1 class="title">
            遭遇したことない感動を。<br>
            <a class="mdl-navigation__link"><%= link_to "今すぐ始める", new_user_registration_path, class: "btn btn-primary" %></a>
            <a class="mdl-navigation__link"><%= link_to "簡単ログイン（ゲストログイン）", homes_guest_sign_in_path, method: :post, class: "btn btn-primary" %></a>
        </h1>
     </div>
</div>