<header class="clearfix">
 <nav>
 <h1>スタエモ</h1>
 <ul>
 <% if user_signed_in? %>
   <li><%= link_to "新規投稿", new_emotion_path(current_user), class: "btn" %><li>
   <% if current_user.profile_image.present? %>
    <li><%= attachment_image_tag current_user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %><li>
   <% else %>
    <li><%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %>
   <% end %> 
   <li><%= current_user.name %><li>
 <% else %>
 <div class="header-list">
    <li><%= link_to "ログインする", new_user_session_path, class: "top-btn" %></li>
    <li><%= link_to "新規登録する", new_user_registration_path, class: "top-btn" %></li>
 </div>   
 <% end %>
 </ul>
 </nav>
</header>