<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
  <% unless user_signed_in? %>
    <%= link_to root_path do %>
      スタエモ
    <% end %>
  <% else %>
    <%= link_to tops_trend_path, data: {"turbolinks"=>false} do %>
      スタエモ
    <% end %>
  <% end %>
    </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <% if user_signed_in? %>
        <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag 'search[content]', "", placeholder: '気になる投稿を探そう！'%>
        <%= button_tag type: 'submit' do %>
        <i class="glyphicon glyphicon-search"></i>
        <% end %>
        <% end %>
      <a class="mdl-navigation__link"><%= link_to "新規投稿", new_emotion_path, class: "top-btn" %></a>
      <% else %>  
      <a class="mdl-navigation__link"><%= link_to "ログインする", new_user_session_path, class: "home-top-btn" %></a>
      <a class="mdl-navigation__link"><%= link_to "新規登録する", new_user_registration_path, class: "home-top-btn" %></a>
      <a class="mdl-navigation__link"><%= link_to "簡単ログイン（ゲストログイン）", homes_guest_sign_in_path, method: :post, class: "home-top-btn" %></a>
      </nav>
      <% end %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
  <% if user_signed_in? %>
    <span class="mdl-layout-title">My page</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">
      <% if current_user.profile_image.present? %>
        <%= attachment_image_tag current_user, :profile_image, format: 'jpeg', size: "100x100", class: "img" %>
      <% else %>
        <%= image_tag "no_image.jpg", format: 'jpeg', size: "100x100", class: "img" %>
      <% end %> 
      <%= current_user.name %>
      </a>
      <p class="mdl-navigation__link" href="">
        <%= link_to "新規投稿", new_emotion_path, class: "media-new" %>
      </p>
      <p class="mdl-navigation__link" href="">
        <%= link_to "マイページにいく", user_top_path(current_user) %>
      </p>
      <p class="mdl-navigation__link" href="">
        <%= link_to "最近の投稿", tops_trend_path %>
      </p>
      <p class="mdl-navigation__link" href="">
        <%= link_to "友達を探す", user_search_path(current_user) %>
      </p>
      <p class="mdl-navigation__link" href="">
        <%= link_to "ログアウトする", destroy_user_session_path, method: :delete %> 
      </p>
    </nav>
  <% else %>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">about</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  <% end %>
  </div>
</div>
 
