<!DOCTYPE html>
<html>
  <head>
    <title>Staemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>

<body>
<div class="top"><%= render "forms/header" %></div>
<%= render "forms/flash" %>
<% if user_signed_in? %>  
  <div class="flex">
    <div class="container"> 
      <div class="center-content"><%= yield %></div>
    </div>  
      <div class="rightbar"><%= render "forms/right_sidebar" %></div>
  </div>
<% else %>
  <div class="about">
    <%= yield %>
  </div>
<% end %>
<div class="footer"><%= render "forms/footer" %></div>
</body>
</html>
